$darkTheme: #333333;
$lightTheme: #f4f4f4;
$boldText: #151515;
$withOpacity: rgba(34, 34, 34, 0.7);
$withOpacityDarkTheme: rgb(229,229,229, .7);
$withOpacitDarkThemeHover: rgb(229,229,229, .5);
$withOpacityHover: rgba(34, 34, 34, 0.6);
$buttonColor: #24b47e;
$paginationButtonColor: #EBEBEB;
