.information__images {
  box-sizing: border-box;
  background-image: url('../images/forest.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 810 / 836;
  background-position: right bottom;
  padding-bottom: 79px;
  grid-column: 2 / 3;
  grid-row-start: 1;
  grid-row-end: 5;


  @include phone {
    align-self: flex-end;
    width: 254px;
    aspect-ratio: 254/348;
    padding-bottom: 37px;
  }
}
