.information {
  @include font;
  margin: 0 auto ;
  padding: 20px 0 0 120px;
  box-sizing: border-box;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 34.8% auto;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 50px;

  top: 20px;
  @include tinyDesktop {
    padding: 20px 0 0 60px;
  }

  @include phone {
    @include flex(column, stretch, flex-start);
    box-sizing: border-box;
    padding: 40px 18px;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 40px
  }
}
