.header-phone{
  height: 0;
  overflow: hidden;
  @include phone {
    @include flex(row-reverse, center, flex-start);
    visibility:visible;
    opacity: 1;
    width: 100vw;
    height: 74px;
    background-color: $lightTheme;
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
